body{
    font-family: Arial;
    padding: 150px;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(150, 147, 147);

}

.left-section {
    background-color: lightsteelblue;
    padding: 20px;
    width: 25%;
    text-align: center;

    
}

.right-section{
    background-color: whitesmoke;
    padding: 20px;
    width: 75%;


}

.profile-pic {
    width: 160px;
    height: 185px;
    object-fit: cover;
    border-radius: 500%;
    display: block;
    border: 3px solid black;
    margin: 0 auto;

}

hr {
    border-color: black;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h2 {
    font-size: xx-large;
    font-family: 'Times New Roman';
}
button {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(16, 149, 194);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    float: right;

}

button:hover {
    background-color: rgb(12, 85, 109);
}
